@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
    --background: #0A0A0A;
    --surface: #121212;

    --primary: #BB86FC;
    --primary-variant: #3700B3;
    --secondary: #03DAC6;

    --on-primary: #000;
    --on-secondary: #000;

    --on-background: #fff;
    --on-surface: #fff;

    /* ERROR */
    --error: #CF6679;
    --on-error: #000;
}

html, body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--background);
}

body section {
    width: 100%;
    height: 100%;

    background-color: var(--background);
    transition: all 300ms ease-in-out;

    display: none;
}

body section.active {
    display: block;
}

body section .grid {
    /* Grid */
    display: grid;
}

body section.main .grid {
    /* Grid */
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 150px 1fr 150px;

    width: 100%;
    height: 100%;
}

body section.main .grid .outer-container {
    /* Grid */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);

    grid-column: 2;
    grid-row: 2;
}

body section.main .grid .outer-container .container {
    /* Grid */
    grid-column: 1 / span 10;
    grid-row: 1 / span 10;

    justify-self: start;
    align-self: center;
}

body section.main .grid .outer-container .container .font-style {
    color: var(--on-background);
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

body section.main .grid .outer-container .container h1.question {
    display: none;
    font-weight: 900;
}

body section.main .grid .outer-container .container h1.question.active {
    display: block;
}

body section.main .grid .outer-container .container .input {
    display: none;

    margin: 15px 0 0 0;
    padding: 14px 15px;
    padding-right: 100px;

    color: var(--on-surface);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    outline: none;
    box-shadow: none;

    border: 1px solid var(--surface);
    border-radius: 5px;

    background-color: var(--surface);
}

body section.main .grid .outer-container .container .input.active {
    display: block;
}

body section.main .grid .outer-container .container .input:focus {
    border: 1px solid rgb(255, 255, 255, 0.15);
}

body section.main .grid .outer-container .container ol.steps {
    margin-bottom: 25px;
}

body section.main .grid .outer-container .container ol.steps .step {
    width: 15px;
    height: 15px;
    background-color: var(--secondary);
    border-radius: 100%;
    margin-right: 15px;
    
    display: inline-block;

    opacity: 0.25;
    transition: all 300ms ease-in-out;

    cursor: pointer;
}

body section.main .grid .outer-container .container ol.steps .step.active {
    opacity: 1;
}

body section.main .grid .outer-container .container .button-container {
    margin-top: 100px;
}

body section.main .grid .outer-container .container .button-container button.button {
    color: var(--on-secondary);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    border-radius: 4px;

    padding: 10px 24px;
    outline: none;
    border: none;
    box-shadow: none;

    background-color: var(--secondary);
    cursor: pointer;
}

body section.main .grid .outer-container .container .button-container button.button.button-alternate {
    color: var(--secondary);
    background-color: var(--background);
}

body section.main .grid .outer-container .number-container {
    /* Grid */
    grid-column: 5 / span 10;
    grid-row: 1 / span 10;

    justify-self: end;
    align-self: center;

    opacity: 0.54;
    transform: translate(0, 50%);
    transition: all 300ms ease-in-out;
}

body section.main .grid .outer-container .number-container.active {
    transform: translate(0, 0);
    opacity: 1;
}

body section.main .grid .outer-container .number-container #number {
    color: var(--on-background);
    font-family: 'Roboto', sans-serif;
    font-size: 200px;

    width: 500px;
    display: block;
    text-align: center;
    transition: all 500ms ease-in-out;
}

body section.main .grid .outer-container .number-container #number.active {
    color: var(--secondary);
}

body section.main .grid .outer-container .number-container span {
    color: var(--secondary);
    font-family: 'Roboto', sans-serif;

    display: block;
    text-align: center;
}

body section.main .grid .legal-container {
    /* Grid */
    grid-column: 1 / span 10;
    grid-row: 3;

    justify-self: start;
    align-self: end;
    padding: 50px 150px;
}

body section.main .grid .legal-container button.button {
    color: var(--on-background);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    border-radius: 4px;

    padding: 10px 24px;
    padding-left: 0;
    outline: none;
    border: none;
    box-shadow: none;

    background-color: transparent;
    cursor: pointer;
    opacity: 0.75;
}

body section.main .grid .legal-container .button:hover {
    opacity: 1;
}

.highlight {
    position: relative;
    z-index: 1;
}

.highlight::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 50%;

    opacity: 0.25;

    z-index: -1;

    background-color: var(--secondary);
}

/* MODALS */
body .modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--surface);
    display: none;

    overflow: hidden;

    z-index: 99;
}

body .modal.active {
    display: block;
}

body .modal .grid {
    /* Grid */
    display: grid;
    grid-template-columns: 150px minmax(0, 1fr) 150px;
    grid-template-rows: 150px 1fr 150px;

    width: 100%;
    height: 100%;
}

body .modal .grid .outer-container {
    /* Grid */
    grid-column: 2;
    grid-row: 2;

    position: relative;
}

body .modal .grid .outer-container .close-container {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: var(--on-secondary);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
}

body .modal .grid .outer-container .close-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    background-color: var(--secondary);
    z-index: -1;
    border-radius: 100%;
}

body .modal .grid .outer-container h1.title {
    color: var(--on-surface);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;

    font-weight: 900;
    
    border-bottom: 1px solid var(--on-surface);
    margin: 25px 0;
}

body .modal .grid .outer-container h2.font-style {
    color: var(--on-surface);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*




DIFFERENT PAGE NOW





*/

body section.jobs .grid {
    /* Grid */
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px minmax(0, 1fr) 50px;

    width: 100%;
    height: 100%;
}

body section.jobs .grid .outer-container {
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    grid-column: 2;
    grid-row: 2;
}

body section.jobs .grid .outer-container .statistics-container {
    /* Grid */
    grid-column: 1;
    grid-row: 1;
    width: 75%;
    height: 75%;
    max-height: 300px;
    margin: 0 auto;
}

body section.jobs .grid .outer-container .statistics-container .statistic {
    color: var(--on-surface);
    font-family: 'Robot', sans-serif;
    font-size: 16px;

    padding: 30px 0;
    text-align: center;
}

body section.jobs .grid .outer-container .jobs-container {
    /* Grid */
    grid-column: 2;
    grid-row: 1;

    overflow-x: hidden;
    overflow-y: auto;

    padding: 5px 45px; /* eigentlich 0 45 */
}

body section.jobs .grid .outer-container .jobs-container::-webkit-scrollbar {
    width: 5px;
}

body section.jobs .grid .outer-container .jobs-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 4px;
}

body section.jobs .grid .outer-container .jobs-container::-webkit-scrollbar-track {
    background-color: var(--surface);
    border-radius: 4px;
}


body section.jobs .grid .outer-container .jobs-container .job {
    /* Grid */
    display: grid;
    grid-template-columns: auto 30px 1fr;
    grid-template-rows: 50% 50%;

    width: 100%;
    padding: 30px;

    background-color: var(--surface);

    margin-bottom: 30px;
    border-radius: 4px;
}

body section.jobs .grid .outer-container .jobs-container .job:focus {
    outline: 1px solid var(--secondary);
}

body section.jobs .grid .outer-container .jobs-container .job .image-container {
    /* Grid */
    grid-column: 1;
    grid-row: 1 / span 2;

    width: 150px;
    height: 150px;

    overflow: hidden;
}

body section.jobs .grid .outer-container .jobs-container .job .image-container .image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

body section.jobs .grid .outer-container .jobs-container .job .information-container {
    grid-column: 3;
    grid-row: 1;
}

body section.jobs .grid .outer-container .jobs-container .job .information-container .title {
    color: var(--on-surface);
    font-family: 'Robot', sans-serif;
    font-size: 24px;
}

body section.jobs .grid .outer-container .jobs-container .job .information-container h3.font-style {
    color: var(--on-surface);
    font-family: 'Robot', sans-serif;
    font-size: 16px;

    display: inline-block;
    margin-right: 25px;
    opacity: 0.75;

    padding: 5px 0;
}

body section.jobs .grid .outer-container .jobs-container .job .description-container {
    grid-column: 3;
    grid-row: 2;

    align-self: end;
    margin-top: 25px;
}

body section.jobs .grid .outer-container .jobs-container .job .description-container p.description {
    color: var(--on-surface);
    font-family: 'Robot', sans-serif;
    font-size: 16px;

    opacity: 0.5;
}

/* 




DIFFERENT PAGE NOW





*/

body section.looked-at-job .grid {
    /* Grid */
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 150px minmax(0, 1fr) 0px;

    width: 100%;
    height: 100%;
}

body section.looked-at-job .grid .outer-container {
    /* Grid */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr);

    grid-column: 2;
    grid-row: 2;

    row-gap: 25px;
}

body section.looked-at-job .grid .outer-container .information-container {
    /* Grid */
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;

    grid-column: 1;
    grid-row: 1;

    width: 100%;
    padding: 25px;
    
    background-color: var(--surface);
}

body section.looked-at-job .grid .outer-container .information-container .image-container {
    /* Grid */
    grid-column: 1;
    grid-row: 1;

    width: 150px;
    height: 150px;

    overflow: hidden;
}

body section.looked-at-job .grid .outer-container .information-container .image-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

body section.looked-at-job .grid .outer-container .information-container .text-container {
    /* Grid */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;

    row-gap: 5px;

    grid-column: 2;
    grid-row: 1;

    padding: 25px;
}

body section.looked-at-job .grid .outer-container .information-container .text-container h1.job {
    /* Grid */
    grid-column: 1;
    grid-row: 1;

    justify-self: start;
    align-self: end;
    
    color: var(--on-surface);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

body section.looked-at-job .grid .outer-container .information-container .text-container h2.company {
    /* Grid */
    grid-column: 2;
    grid-row: 1;

    justify-self: end;
    align-self: end;
}

body section.looked-at-job .grid .outer-container .information-container .text-container h2.company a.company-link {
    text-decoration: underline;
    transition: all 300ms ease-in-out;
}

body section.looked-at-job .grid .outer-container .information-container .text-container h2.company a.company-link:hover {
    color: var(--secondary);
}

body section.looked-at-job .grid .outer-container .information-container .text-container h2.location {
    /* Grid */
    grid-column: 1;
    grid-row: 2;

    justify-self: start;
    align-self: start;
}

body section.looked-at-job .grid .outer-container .information-container .text-container h2.type {
    /* Grid */
    grid-column: 2;
    grid-row: 2;
    
    justify-self: end;
    align-self: start;
}

body section.looked-at-job .grid .outer-container .information-container .text-container h2.font-style {
    color: var(--on-surface);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    opacity: 0.75;
}

body section.looked-at-job .grid .outer-container .description-container {
    /* Grid */
    grid-column: 1;
    grid-row: 2;

    
    background-color: var(--surface);

    overflow: hidden;
    overflow-y: scroll;

    padding: 0 25px;
    padding-bottom: 25px;
}

body section.looked-at-job .grid .outer-container .description-container .description {
    color: var(--on-surface);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body section.looked-at-job .grid .outer-container .description-container .description ul {
    list-style: circle;
    margin: 0 50px;
}

body section.looked-at-job .grid .outer-container .description-container .description p {
    margin: 25px 0;
}

body section.looked-at-job .grid .outer-container .description-container::-webkit-scrollbar {
    width: 5px;
}

body section.looked-at-job .grid .outer-container .description-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 4px;
}

body section.looked-at-job .grid .outer-container .description-container::-webkit-scrollbar-track {
    background-color: var(--surface);
    border-radius: 4px;
}