/* Respnsive Design */
@media only screen and (max-width: 1275px) {
    body section.main .grid {
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 50px 1fr 50px;
    }

    body section.main .grid .outer-container .number-container #number {
        font-size: 150px;
        width: 400px;
    }
    
    body section.main .grid .legal-container {
        padding: 50px;
    }
}

@media only screen and (max-width: 992px) {
    body section.main .grid {
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 150px 1fr 150px;
    }

    body section.main .grid .outer-container .container {
        /* Grid */
        grid-column: 1 / span 10;
        grid-row: 1 / span 5;
    
        justify-self: center;
        align-self: center;
    }

    body section.main .grid .outer-container .container .input {
        width: 100%;
    }

    body section.main .grid .outer-container .container .button-container {
        margin-top: 50px;
    }

    body section.main .grid .outer-container .number-container {
        margin-top: 150px;
        grid-column: 1 / span 10;
        grid-row: 5 / span 10;
        justify-self: center;
        align-self: center;
    }

    body section.main .grid .legal-container {
        justify-self: center;
        align-self: end;
        padding: 25px 0;
    }

    body section.main .grid .legal-container button.button {
        padding: 10px 24px;
    }
}

@media only screen and (max-width: 599px) {
    body section.main .grid .outer-container .container .font-style {
        font-size: 24px;
    }

    body section.main .grid .outer-container .number-container #number {
        font-size: 100px;
    }
}

@media only screen and (max-width: 424px) {
    body section.main .grid {
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: 25px 1fr 25px;
    }

    body section.main .grid .outer-container .container .font-style {
        font-size: 18px;
    }

    body section.main .grid .outer-container .container .input {
        padding-right: 50px;
        font-size: 14px;
    }

    body section.main .grid .outer-container .container .button-container {
        text-align: center;
    }

    body section.main .grid .legal-container {
        justify-self: center;
        align-self: end;
        padding: 5px 0;
    }
}
















/* Respnsive Design */
@media only screen and (max-width: 1275px) {
    body section.jobs .grid .outer-container {
        grid-template-columns: 100%;
        grid-template-rows: 40% 50px 1fr;
    }

    body section.jobs .grid .outer-container .jobs-container {
        grid-column: 1;
        grid-row: 3;
    }
}

@media only screen and (max-width: 992px) {
    body section.jobs .grid .outer-container .jobs-container .job .image-container {
        grid-row: 1;
    }

    body section.jobs .grid .outer-container .jobs-container .job .description-container {
        margin-top: 30px;
        
        grid-column: 1 / span 3;
        grid-row: 2;

        align-self: end;
    }
}

@media only screen and (max-width: 599px) {
    body section.jobs .grid {
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: 25px minmax(0, 1fr) 25px;
    }

    body section.jobs .grid .outer-container .jobs-container .job .image-container {
        width: 100px;
        height: 100px;
    }

    body section.jobs .grid .outer-container .jobs-container .job .information-container .title {
        font-size: 18px;
    }

    body section.jobs .grid .outer-container .jobs-container .job .information-container h3.font-style {
        font-size: 14px;
    }

    body section.jobs .grid .outer-container .jobs-container .job .description-container p.description {
        font-size: 14px;
    }

    body section.jobs .grid .outer-container .jobs-container {
        padding: 5px 25px;
    }
}

@media only screen and (max-width: 424px) {
    body section.jobs .grid .outer-container .statistics-container {
        height: 200px;
    }

    body section.jobs .grid .outer-container .jobs-container .job .description-container {
        display: none;
    }

    body section.jobs .grid .outer-container .jobs-container {
        padding: 5px 15px;
    }

    body section.jobs .grid .outer-container .jobs-container .job .image-container {
        width: 50px;
        height: 50px;
    }
}


















/* Respnsive Design */
@media only screen and (max-width: 1275px) {
}

@media only screen and (max-width: 992px) {
    body section.looked-at-job .grid {
        /* Grid */
        grid-template-columns: 50px 1fr 50px;
        grid-template-rows: 50px minmax(0, 1fr) 0;
    }

    body section.looked-at-job .grid .outer-container .information-container .text-container {
        /* Grid */
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto;
    }

    body section.looked-at-job .grid .outer-container .information-container .text-container h1.job {
        /* Grid */
        grid-column: 1 / span 2;
    }

    body section.looked-at-job .grid .outer-container .information-container .text-container h2.company {
        /* Grid */
        grid-column: 2;
        grid-row: 2;

        justify-self: start;
        align-self: start;
    }

    body section.looked-at-job .grid .outer-container .information-container .text-container h2.location {
        /* Grid */
        grid-column: 1;
        grid-row: 2;
    }
    
    body section.looked-at-job .grid .outer-container .information-container .text-container h2.type {
        /* Grid */
        grid-column: 1;
        grid-row: 3;
        
        justify-self: start;
        align-self: start;
    }
}

@media only screen and (max-width: 599px) {
    body section.looked-at-job .grid .outer-container .information-container {
        /* Grid */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    body section.looked-at-job .grid .outer-container .information-container .image-container {
        /* Grid */
        grid-column: 1;
        grid-row: 1;
    }

    body section.looked-at-job .grid .outer-container .information-container .text-container {
        grid-column: 1;
        grid-row: 2;

        padding: 25px 0;
    }

    body section.looked-at-job .grid .outer-container .information-container .image-container {    
        width: 100%;
        height: 150px;
    }
}

@media only screen and (max-width: 424px) {
    body section.looked-at-job .grid .outer-container .information-container .text-container {
        /* Grid */
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
    }

    body section.looked-at-job .grid .outer-container .information-container .text-container h1.job {
        /* Grid */
        grid-column: 1 / span 2;

        font-size: 16px;
    }

    body section.looked-at-job .grid .outer-container .information-container .text-container h2.company {
        /* Grid */
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    body section.looked-at-job .grid .outer-container .information-container .text-container h2.location {
        /* Grid */
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    
    body section.looked-at-job .grid .outer-container .information-container .text-container h2.type {
        /* Grid */
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    body section.looked-at-job .grid .outer-container .information-container .text-container h2.font-style {
        font-size: 14px;
    }

    body section.looked-at-job .grid .outer-container .description-container .description {
        font-size: 14px;
    }
}


@media only screen and (max-width: 424px) {
    body .modal .grid {
        /* Grid */
        grid-template-columns: 25px 1fr 25px;
        grid-template-rows: 25px 1fr 25px;
    }
}